CLR/CLR/Web References/clinfo/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/cl_info" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/cl_info" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appeal_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Credit_Type" type="xs:int" />
      <xs:element minOccurs="0" name="ECA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ECA_Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDRPOU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GiveAllowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifycode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Payment_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Next_Payment" type="xs:decimal" />
      <xs:element minOccurs="0" name="Next_Payment_Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payment_interval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Requisites_Check" type="xs:int" />
      <xs:element minOccurs="0" name="card_lastdiggits" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="corraccountno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="credit_check" type="xs:int" />
      <xs:element minOccurs="0" name="credit_check_kab" type="xs:int" />
      <xs:element minOccurs="0" name="currmonth_payments" type="xs:decimal" />
      <xs:element minOccurs="0" name="daysoverdue" type="xs:int" />
      <xs:element minOccurs="0" name="deal_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deal_state" type="xs:int" />
      <xs:element minOccurs="0" name="dealno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error_code" type="xs:int" />
      <xs:element minOccurs="0" name="first_usage" type="xs:dateTime" />
      <xs:element minOccurs="0" name="firstrepaydate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fullrepayment" type="xs:decimal" />
      <xs:element minOccurs="0" name="id_deal" type="xs:int" />
      <xs:element minOccurs="0" name="last_payment" type="xs:decimal" />
      <xs:element minOccurs="0" name="on_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status_date" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>